.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.container{
  margin-top: 30px;
  padding: 3rem;
  border-radius: 20px;
  background:linear-gradient(45deg,rgb(228, 177, 177),rgb(58, 101, 112));
  box-shadow: 10px 10px 20px rgba(0,0,0,0.8);
}


.App-header {
  background: #92aada;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(253, 242, 242);
}



